/* Font Prompt */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    /* --font-sans: 'Prompt', serif; */
    --font-prompt: "Prompt", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-bilingual: var(--font-prompt), var(--font-outfit);

    --color-primary: hsl(28, 31%, 57%);
    --color-secondary: hsl(28 31% 67%);
    --color-accent-light: hsl(28 31% 67%);
    --color-accent-dark: hsl(28 31% 47%);
    --color-transparent: hsla(28, 31%, 67%, 0.2);

    --color-red-primary: hsl(349, 100%, 35%);
    --color-red-secondary: hsl(349, 100%, 25%);
    --color-red-accent-light: hsl(349, 100%, 45%);
    --color-red-accent-dark: hsl(349, 100%, 15%);
    --color-red-transparent: hsla(349, 100%, 35%, 0.2);

    --color-softperl-primary: hsl(48 16% 94%);
    --color-softperl-secondary: hsl(48 16% 84%);
    --color-softperl-accent-light: hsl(48 16% 100%);
    --color-softperl-accent-dark: hsl(48 16% 74%);

    --color-obsidianblack-primary: hsl(0 0% 10%);
    --color-obsidianblack-secondary: hsl(0 0% 25%);
    --color-obsidianblack-accent-light: hsl(0 0% 35%);
}

:root {
    --bg-dark: hsl(48 16% 90%);
    --bg: hsl(48, 16%, 95%);
    --bg-light: hsl(48 16% 100%);
    --text: (0 0% 5%);
    --text-muted: (0 0% 30%);
    --border: oklch(0.922 0 0);
    --gradient: linear-gradient(0deg, var(--bg) 90%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: hsl(0 0 100);
    --border-card: solid 1px var(--bg);
    --shadow: 0px 0px 2px hsla(0 0 0 0.07), 9px 4px 4px hsla(0 0 0 0.15);
    --shadow-inset: inset 0px 0px 2px hsla(0 0 0 0.07), 9px 4px 4px hsla(0 0 0 0.15);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: hsl(28 31% 67%);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --bg-dark: hsl(0, 0, 5);
    --bg: hsl(0, 0, 10);
    --bg-light: hsl(0, 0, 15);
    --text: (0 0% 95%);
    --text-muted: (0 0% 70%);
    --border: hsl(0 0% 30%);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: hsl(0 0 60);
    --border-card: solid 1px var(--border);
}

@layer base {
    /* @font-face {
        font-family: 'Bilingual Sans';
        src: local('Prompt'), url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') format('woff2');
        unicode-range: U+0E00-0E7F;
    }

    @font-face {
        font-family: 'Bilingual Sans';
        src: url('Outfit'), url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') format('woff2');
        unicode-range: U+0000-007F, U+0080-00FF;
    } */

    :root {
        --font-sans: var(--font-bilingual);
    }

    html{
        scroll-behavior: smooth;
    }
    body {
        background: var(--bg-dark);
        color: var(--text-muted);
    }

    button {
        background: var(--bg-light);
        padding: 0.5rem 2rem 0.5rem 2rem;
        color: var(--text);
        font-weight: 500;
        border-radius: 0.5rem;
        /* margin-top: 1.5rem; */
        border: solid 1px var(--border-card);
        box-shadow: var(--shadow);
        transition-property: all;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function)
                /* cubic-bezier(0.4, 0, 0.2, 1) */
            );
        transition-duration: var(--tw-duration, var(--default-transition-duration)
                /* 150ms */
            );
    }

    button.btn-main-1 {
        background: var(--color-red-primary);
        padding: 0.5rem 2rem 0.5rem 2rem;
        color: var(--color-softperl-primary);
        font-weight: 500;
        border-radius: 0.5rem;
        /* margin-top: 1.5rem; */
        border: solid 1px var(--color-red-primary);
        box-shadow: var(--shadow);
        cursor: pointer;
    }

    button.btn-main-1:hover {
        background: var(--color-red-secondary);
        border: solid 1px var(--color-red-secondary);
    }

    button.btn-main-1:active {
        background: var(--color-red-accent-dark);
        border: solid 1px var(--color-red-accent-dark);
    }

    button.btn-main-1:disabled {
        color: var(--color-obsidianblack-accent-light);
        background: var(--color-gray-300);
        border: solid 1px var(--color-gray-300);
        cursor: none;
    }

    button.btn-main-2 {
        background: var(--color-primary);
        padding: 0.5rem 2rem 0.5rem 2rem;
        color: var(--color-softperl-primary);
        font-weight: 500;
        border-radius: 0.5rem;
        /* margin-top: 1.5rem; */
        border: solid 1px var(--color-primary);
        box-shadow: var(--shadow);
        cursor: pointer;
    }

    button.btn-main-2:hover {
        background: var(--color-secondary);
        border: solid 1px var(--color-secondary);
    }

    button.btn-main-2:active {
        background: var(--color-accent-dark);
        border: solid 1px var(--color-accent-dark);
    }

    button.btn-main-2:disabled {
        color: var(--color-obsidianblack-accent-light);
        background: var(--color-gray-300);
        border: solid 1px var(--color-gray-300);
        cursor: none;
    }

    button.btn-transparent {
        background: transparent;
        padding: 0.5rem 2rem 0.5rem 2rem;
        color: var(--color-softperl-primary);
        font-weight: 500;
        border-radius: 0.5rem;
        /* margin-top: 1.5rem; */
        border: solid 1px var(--color-primary);
        box-shadow: var(--shadow);
        cursor: pointer;
    }

    button.btn-transparent:hover {
        background: var(--color-transparent);
        border: solid 1px var(--color-secondary);
    }

    input {
        background-color: var(--color-softperl-primary);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    textarea {
        background-color: var(--color-softperl-primary);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* div {
        background: var(--gradient);
        padding: 1.5rem;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        border: solid 1px var(--border-card);
        border-top: solid 1px var(--highlight);
        box-shadow: var(--shadow);
    } */

    /* div:hover {
        background: var(--gradient-hover);
    } */
}

/* @theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}

.dark {
    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
} */